html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #e4e4e4;
}

body #tendina, header  {
	position:relative;
	z-index: 1000;
}

body {
	position: relative;
	z-index: 1;
}

#asidepersonale {
	height: 100%;
	width: 20%;
	float: left;
	background-color: #f8cf98;
}

#asidepersonale #ulaside {
	margin-left: 20%;
	margin-top: 5%;
	list-style-type: disc;
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	font-size: 150%;
}

#asidepersonale a:hover {
	color:#009100;
	transition:0.4s;
}

#asidepersonale #ulaside li {
	padding-top: 15%;
}

#asidepersonale a {
	text-decoration: none;
	color: black;
}

#divgeneralepannello {
	height: 100%;
	width: 100%;
	font-family:  'Raleway', sans-serif;
	font-size: 120%;
}

#titoloareapersonale {
	font-family: 'Courgette', cursive;
	font-size:200%;
	text-align: center;
}

#divgeneralepannello span {
	font-size: 150%;
	margin-left:1%;
}

#modificadati, #confermabottonearea  {
	margin-left:5%;
	margin-top:0.5%;
	font-size: 140%;
	border-top-right-radius: 90px;
	border-bottom-left-radius: 90px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
	background-color: #ff6f6f;
	width: 350px;
	height: 40px;
	font-family: 'Electrolize', sans-serif;
	
}

.modifcaspan, .inputtextarea, #confermabottonearea{
	display:none;
}

#divbottoniareapersonale {
	text-align:center;
}

#mostrabutton {
	margin-left: 2%;
	font-size:100%;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
	background-color: #ff6f6f;
	width: 70px;
	font-size: 60%;
	height:30px;
	font-family: 'Electrolize', sans-serif;
}

#menucontrollopannello {
	display:none;
}

#pannellodicontrollo:hover #menucontrollopannello {
	display: block;
}

#menucontrollopannello li {
	list-style-type: circle;
}