html, body {
	height: 100%;
	width: 100%;
} 

body {
	background-image: url(../Immagini/Sfondologin2.png);
	/*opacity: .4;*/
	background-size: cover;
	background-repeat: no-repeat;
	zoom: none;
}

#immagine {
	float:left;
	width: 50%;
	heigth: 50%;
}

#h1 {
    font-family: 'Arizonia';
	font-size: 500%;
}

#login {
	position: absolute;
	width: 300px;
	height:500px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -150px;
	font-family: 'Autour One';
	font-size: 120%;
	border: 2px solid #A9F6F1;
	border-radius: 10px;
	/*
	
	margin: auto;
	text-align: center;
	
	width: 20%;
	height: 65%;
	color: white;*/
}

#login:hover {
    background-color: rgba(255,255,255, 0.75);
	transition: 2s;
	color: black;
}

.input {
	text-align: center;
	border-radius: 20px;
	font-family: 'BioRhyme';
}

#bottone:hover {
	
	background: rgba(255, 255, 255, 0.15);
 	color: black;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	-webkit-box-shadow: 4px 2px 55px 15px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 2px 55px 15px rgba(0,0,0,0.75);
	box-shadow: 4px 2px 55px 15px rgba(0,0,0,0.75);
	
}

#h1 {
	text-aling: center;
	font-size: 150%;
	font-weight: bold;
}	